.form-group
  %label.col-sm-3.control-label SHA1
  .col-sm-9
    %p.form-control-static= @sample.data.sha1
.form-group
  %label.col-sm-3.control-label MD5
  .col-sm-9
    %p.form-control-static= @sample.data.md5
.form-group
  %label.col-sm-3.control-label SSDEEP
  .col-sm-9
    %p.form-control-static= @sample.data.ssdeep
.form-group
  %label.col-sm-3.control-label Content Type
  .col-sm-9
    %p.form-control-static= @sample.data.mimeType
.form-group
  %label.col-sm-3.control-label Size
  .col-sm-9
    %p.form-control-static= "#{@sample.data.size} Bytes"
