%section
  .col-md-6.col-md-offset-2
    .row
      = form_for @sample, html: {role: "form", class: "form-horizontal"} do |f|
        - if @sample.errors.any?
          #error_explanation
            %h2= "#{pluralize(@sample.errors.count, "error")} were enounterd:"
            %ul
              - @sample.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :incidnet_id, "Incident#", class: "col-sm-2 control-label"
          .col-sm-10
            %p.form-control-static
              %strong= @incident.id
        .form-group
          = f.label :reportedOn, "Reported On", class: "col-sm-2 control-label"
          .col-sm-9
            %p.form-control-static= @incident.reportedOn
        .form-group
          = f.label :status, class: "col-sm-2 control-label"
          .col-sm-2
            %p.form-control-static= @incident.status
        .form-group
          = f.label :title, "Title", class: "col-sm-2 control-label"
          .col-sm-10
            %p.form-control-static= @incident.title
        .form-group
          =f.label :description, "Description", class: "col-sm-2 control-label"
          .col-sm-10
            %p.form-control-static= @incident.description
        .form-group
          = f.label :file, class: "col-sm-2 control-label"
          .col-sm-10
            .input-group
              %span.input-group-btn
                %span.btn.btn-primary.btn-file
                  Browse&hellip;
                  = f.file_field :file
              %input.form-control{type: 'text', readonly: true, placeholder: 'Select sample file'}

        = f.hidden_field :incident_id, value: @incident.id
        %section
          .col-sm-10.col-sm-offset-2
            = f.submit "Upload", class: "btn btn-lg btn-primary"
            = link_to "Cancel", @incident, class: "btn btn-lg btn-info"
  .col-md-4
    .panel.panel-primary
      .panel-heading
        Existing Samples
      %table.table.table-condensed
        %tbody
          - for name in @incident.sample_names
            %tr
              %td
                = link_to name.name, sample_path(name.sample)


