%table.table.table-striped.table-hover.table-condensed
  %thead
    %th Name
    %th.text-right Options
  %tbody
    - for name in @incident.sample_names
      %tr{id:"incident_#{@incident.id}_sample_#{name.sample.id}"}
        -#FIXME: Taking only first name. Probably incorrent results.
        %td= name.name
        %td.text-right
          .btn-group
            = link_to name.sample, class: "btn btn-sm btn-info", title: "View Sample Details" do
              %span.glyphicon.glyphicon-eye-open
            = link_to edit_sample_path(name.sample), class: "btn btn-sm btn-primary", title: "Update Sample Details" do

              %span.glyphicon.glyphicon-edit
            = link_to delete_sample_incident_path(@incident, name.sample), 
              method: :delete,
              data: { confirm: "Do you want to delete\nreferences to this sample?"},
              class: "btn btn-sm btn-danger",
              title: "Delete Sample" do
              %span.glyphicon.glyphicon-remove

            = link_to download_sample_path(name.sample, name: name.name),
              title: "Download Sample",
              class: "btn btn-sm btn-success" do
              %span.glyphicon.glyphicon-save


