%table.table.table-striped.table-hover.table-bordered.table-condensed
  %thead
    %th.text-center Name
    %th.text-center MimeType
    %th.text-center Size
    %th.text-center Options
  %tbody
    - for sample in @incident.samples
      %tr{id:"incident_#{@incident.id}_sample_#{sample.id}"}
        -#FIXME: Taking only first name. Probably incorrent results.
        - name = sample.names.first.name
        %td= name
        %td= sample.data.mimeType
        %td= sample.data.size
        %td
          .btn-group
            = link_to sample, class: "btn btn-sm btn-info", title: "View Sample Details" do
              %span.glyphicon.glyphicon-eye-open
            = link_to edit_sample_path(sample), class: "btn btn-sm btn-primary", title: "Update Sample Details" do

              %span.glyphicon.glyphicon-edit
            = link_to delete_sample_incident_path(@incident, sample), 
              method: :delete,
              data: { confirm: "Do you want to delete\nreferences to this sample?"},
              class: "btn btn-sm btn-danger",
              title: "Delete Sample" do
              %span.glyphicon.glyphicon-remove

            = link_to download_sample_path(sample, name: name),
              title: "Download Sample",
              class: "btn btn-sm btn-default" do
              %span.glyphicon.glyphicon-save


