-# add navigation links to this file
%li.nav-li#nav-dashboard= link_to "Dashboard", root_path, class: 'active'
%li.nav-li#nav-incidents= link_to "Incidents", incidents_path
%li.nav-li#nav-samples= link_to "Samples", samples_path
%li.nav-li#nav-cnc= link_to "Command&Control", root_path
%li.nav-li#nav-reports= link_to "Reports", root_path
